<div class="mb-3">
  <%= link_to new_room_path, class: 'btn btn-primary' do %>
    Create a room
  <% end %>
</div>

<% if @rooms.present? %>
  <nav class="nav flex-column">
    <% @rooms.each do |room| %>
      <div class="room-nav-link row">
        <%= link_to room.name, room_path(room), class: 'nav-link col-sm-8' %>
        <%= link_to "Delete", room_path(room), method: :delete, data: { confirm: "Are you sure deleting this room?" }, class: 'btn btn-danger btn-sm col-sm-4' %>
      </div>
    <% end %>
  </nav>
<% else %>
  <div class="text-muted">
    There are no rooms
  </div>
<% end %>