.avatar {
    max-height:30px;
    border-radius: 15px;
    width:auto;
    vertical-align:middle;
}

$primary:#a6f0c6;
$secondary:#a98b98;
$tersier:#4e3d53;
$last:#0f1123;

.navbar{
  background-color: $last;
}

.navbar-brand, .navbar-brand .nav-link, .nav-link{
  color: $primary;
}

.trash-icon{
  color: red;
}

.alert-dark-index{
  background-color: $primary;
}

.room-nav-link {
    border: 1px solid $primary;
    border-radius: 5px;
    background: $last;
  
    & + .room-nav-link {
      border-top: 0 none;
    }
}

.chat {
  border: 1px solid $primary;
  background: $last;
  height: 65vh;
  border-radius: 5px 5px 0 0;
  overflow-y: auto;
  padding: 0 10px;
}

.chat-input {
  border-top: 0 none;
  border-radius: 0 0 5px 5px;
}

.chat-message-container {
  padding: 5px;

  .avatar {
    margin: 5px;
  }

  .message-content {
    padding: 5px;
    border: 1px solid $primary;
    border-radius: 5px;
    background: $primary;
    color: #504f4f;
  }

  & + .chat-message-container {
    margin-top: 10px;
  }
}